@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for form inputs */
[type="text"],
[type="email"],
[type="password"] {
  @apply border-gray-300 focus:border-blue-500 focus:ring-blue-500 rounded-md shadow-sm;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Swiper styles */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  position: static !important;
  width: auto !important;
  height: auto !important;
  margin-top: 0 !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
